@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

nav {
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

li {
    color: white;
    padding: 0 15px;
    img {
        border-radius: 70%;
        width: 50px;
        height: 40px;
    }
}

.brand-logo {
    display: flex;
    align-items: center;
    span {
        margin: 0 5px;
    }
}

.container {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: skyblue;
    position: relative;
    height: 80vh;
    width: 80vw;
    border-radius: 10px;
    h1 {
        padding: 0px 5px;
        margin: 0px;
        margin-bottom: 5px;
        padding-left: 55px;
        color: white;
    }
    #image {
        position: absolute;
        bottom: 0vh;
        right: 0vw;
        width: 35vw;
        height: 80vh;
        border-radius: 5px;
    }
}

.songList {
    padding: 0px 15px;
    max-height: 69vh;
    overflow-y: scroll;
}

.songItem {
    background-color: white;
    width: 35%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
    border-radius: 50px;
    padding: 0px 1px;
    margin-bottom: 8px;
    img {
        border-radius: 50%;
    }
    i {
        cursor: pointer;
    }
}

span {
    i {
        color: black;
    }
}

.bottom-container {
    position: absolute;
    bottom: 0px;
    background-color: red;
    display: flex;
    align-items: center;
}

.bottom {
    position: sticky;
    top: 20px;
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.songInfo {
    position: absolute;
    left: 20vw;
    top: 20px;
    font-size: 20px;
    img {
        opacity: 1;
        width: 50px;
        height: 30px;
    }
    color: white;
}

#points {
    width: 80vw;
    display: block;
}

i {
    color: white;
    font-size: 20px;
    padding: 5px 5px;
    cursor: pointer;
}

#points {
    cursor: pointer;
}